# Игнорируем системные файлы macOS
.DS_Store

# Игнорируем папки сборки PyInstaller (их не заливают, так как они создаются скриптом)
build/
dist/
*.spec

# Игнорируем кэш Python
__pycache__/
*.py[cod]

# Игнорируем виртуальное окружение (если есть)
venv/
.venv/
env/

# Игнорируем локальные настройки IDE (если пользуешься VS Code или PyCharm)
.vscode/
.idea/